body {
  background-color: #a8dadc;
  font-family: "Ubuntu", sans-serif;
}
#mainParent {
  width: 100%;
  display: flex;
  justify-content: center;
}

#barChart {
  background-color: #f7f7f7;
  min-width: 600px;
  padding: 5px;
}

#barChartTitle {
  text-align: center;
}
.bars {
  margin: 4px;
  background-color: bisque;
}
