body {
  background-color: #a8dadc;
  font-family: 'Ubuntu', sans-serif;
}
#mainParent {
  width: 100%;
  display: flex;
  justify-content: center;
}
#barChartParent {
  background-color: #f7f7f7;
  width: 600px;
  height: 640px;
}
#barChart {
  object-fit: fill;

  width: 600px;
  height: 600px;
  transition-duration: 1500ms;
}

#barChartTitle {
  text-align: center;
}
.bars {
  object-fit: fill;
  border-radius: 4px;
  margin: 4px;
  background-color: bisque;
  width: 0;
  transition: width 2s, height 4s;
  font-size: 1vw;
}

.bars:hover {
  filter: invert(40%);
}
