body {
  background-color: #a8dadc;
  font-family: 'Ubuntu', sans-serif;
}
#mainParent {
  width: 100%;
  display: flex;
  justify-content: center;
}

#barChart {
  width: 100%;
  height: 600px;
  border-collapse: collapse;
  background-color: #f7f7f7;
  display: flex;
}

#barChartTitle {
  text-align: center;
}
.bars {
  align-self: flex-end;
  display: inline-block;
  margin: 0.3em;
  background-color: bisque;
  height: 0;
  width: 1em;
  font-size: 0.5em;
}

.bars:hover {
  filter: invert(40%);
}
